
<header>
    <nav class="main-nav navbar-expand-lg">
        <div class="row">
          <div style="padding-right: 20%;">
            <div class="logo">
              <a href="index.html"><img src="https://ece.ucdavis.edu/sites/g/files/dgvnsk8091/files/ece_logo_125px.png" alt="logo"></a>
            </div>
    
    
            <ul class="nav-menu list-unstyled">
              <li><a href="#home" class="smooth-scroll">Home</a></li>
              <li><a href="#about" class="smooth-scroll">About</a></li>
              <li><a href="/awards" class="smooth-scroll">Awards</a></li>
              <li><a href="/publications" class="smooth-scroll">Publications</a></li>
              <li><a href="/research" class="smooth-scroll">Research</a></li>
              <li><a href="/students" class="smooth-scroll">Students</a></li>
              <li><a href="/cv" class="smooth-scroll">Consulting/CV</a></li>
            </ul>
    
          </div>
        </div>
      </nav>
  </header>

<section id="CV">
    <br>
    <h1 class="title">Consulting/CV</h1>
    <br><br>

    <div class="button" style="margin: 0 auto; border: 2px solid black; ">
        <a href="#" target="\blank" class="link"><h1 style="font-size: 200%;">Download CV</h1></a>
      </div>

      <br><br>

    <div class="experience">
        <ul  class="styled-list">
            <li >Expert Witness, Code Review, Quandarypeak and LTL Attorneys, 2022-2023</li>
            <li >Expert Witness, Shore Chan Depumpo, 2018-2020 (more than 20 hours of testimony litigation)</li>
            <li >Expert Witness, Janik Vinnakota LLP, 2019-2020, (Preparing 8 IPRs)</li>
            <li >Technology Consultant, Netlist Inc., 2014-2015</li>
            <li >Expert Witness, McAndrews, Held & Malloy, 2014-2015</li>
            <li >Expert Witness, Bartko Zankel Bunzel, 2014-2015</li>
            <li >Technology Consultant, Gerchen Keller Capital, LLC, 2014-2015</li>
        </ul>
    </div>




</section>