<section class="syllabus-page paddsection">
  <div class="container syllabus-container">
    <header class="course-header">
      <p class="course-header__code">EEC 179</p>
      <h1 class="course-header__title">{{ courseTitle }}</h1>
      <div class="course-header__meta">
        <div class="meta-item">
          <span class="meta-item__label">Instructor</span>
          <span class="meta-item__value">{{ instructorName }}</span>
        </div>
        <div class="meta-item">
          <span class="meta-item__label">Email</span>
          <a class="meta-item__value" [href]="'mailto:' + instructorEmail">{{ instructorEmail }}</a>
        </div>
        <div class="meta-item">
          <span class="meta-item__label">Meetings</span>
          <span class="meta-item__value">{{ classMeetings }}</span>
        </div>
        <div class="meta-item">
          <span class="meta-item__label">Prerequisites</span>
          <span class="meta-item__value">{{ prerequisites }}</span>
        </div>
      </div>
      <a
        href="https://docs.google.com/document/d/1ZJCah_KGWF2VP4a73l3FVJL29tiOMTLw/edit?usp=sharing&ouid=100895375435392145013&rtpof=true&sd=true"
        target="_blank"
        rel="noopener noreferrer"
        class="btn syllabus-link"
      >
        View full syllabus
      </a>
    </header>

    <div class="syllabus-section card">
      <h2 class="syllabus-section__title">Textbooks</h2>
      <ul class="textbook-list">
        <li class="textbook-list__item">
          <a
            href="https://link.springer.com/book/10.1007/978-3-030-96756-7"
            target="_blank"
            rel="noopener noreferrer"
            class="textbook-list__link"
          >
            <img
              src="https://media.springernature.com/full/springer-static/cover-hires/book/978-3-030-96756-7?as=webp"
              alt="Machine Learning for Computer Scientists and Data Analysts cover"
              class="textbook-list__cover"
            >
            <span class="textbook-list__title">{{ textbook1 }}</span>
          </a>
        </li>
        <li class="textbook-list__item textbook-list__item--text">{{ textbook2 }}</li>
      </ul>
    </div>

    <div class="syllabus-section card">
      <h2 class="syllabus-section__title">Course Objectives</h2>
      <p class="syllabus-section__text">{{ courseObjectives }}</p>
    </div>

    <div class="syllabus-section card">
      <h2 class="syllabus-section__title">Course Tentative Outline</h2>
      <ol class="outline-list">
        <li class="outline-list__item" *ngFor="let topic of courseOutline">{{ topic }}</li>
      </ol>
    </div>

    <div class="syllabus-section card">
      <h2 class="syllabus-section__title">Exams</h2>
      <p class="syllabus-section__text">{{ exams }}</p>
    </div>

    <div class="syllabus-section card">
      <h2 class="syllabus-section__title">Lectures</h2>
      <ul class="lecture-list">
        <li class="lecture-list__item" *ngFor="let lecture of lectures; let i = index">
          <a
            *ngIf="lectureLinks[i]; else plainLecture"
            [href]="lectureLinks[i]"
            target="_blank"
            rel="noopener noreferrer"
          >{{ lecture }}</a>
          <ng-template #plainLecture>{{ lecture }}</ng-template>
        </li>
      </ul>
    </div>

    <div class="syllabus-section card">
      <h2 class="syllabus-section__title">Paper Presentation</h2>
      <p class="syllabus-section__text syllabus-section__text--pre">{{ paperPresentation }}</p>
    </div>

    <div class="syllabus-section card">
      <h2 class="syllabus-section__title">Course Grade</h2>
      <ul class="grade-list">
        <li class="grade-list__item">
          <span class="grade-list__label">Assignments and Projects</span>
          <span class="grade-list__value">50%</span>
        </li>
        <li class="grade-list__item">
          <span class="grade-list__label">Presentation</span>
          <span class="grade-list__value">15%</span>
        </li>
        <li class="grade-list__item">
          <span class="grade-list__label">Exams</span>
          <span class="grade-list__value">35%</span>
        </li>
        <li class="grade-list__item">
          <span class="grade-list__label">Midterm Exam</span>
          <span class="grade-list__value">TBD</span>
        </li>
      </ul>
    </div>
  </div>
</section>
