<header>
    <nav class="main-nav navbar-expand-lg">
      <div class="row">
        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
          <ul class="nav-menu list-unstyled">
            <li><a href="#home" class="smooth-scroll">Home</a></li>
            <li><a href="#about" class="smooth-scroll">About</a></li>
            <li><a href="#courses" class="smooth-scroll">Courses</a></li>
            <li><a href="/awards" class="smooth-scroll">Awards</a></li>
            <li><a href="/publications" class="smooth-scroll">Publications</a></li>
            <li><a href="/research" class="smooth-scroll">Research</a></li>
            <li><a href="/students" class="smooth-scroll">Students</a></li>
            <li><a href="/cv" class="smooth-scroll">Consulting/CV</a></li>
          </ul>
        </div>
      </div>
    </nav>
</header>


<div class="syllabus">
    <h2>{{ courseTitle }}</h2>
    <h3><a href="https://docs.google.com/document/d/1ZJCah_KGWF2VP4a73l3FVJL29tiOMTLw/edit?usp=sharing&ouid=100895375435392145013&rtpof=true&sd=true" target="_blank">Syllabus</a></h3>
  
    <div class="instructor">
      <p><strong>Instructor:</strong> {{ instructorName }}</p>
      <p><strong>Email:</strong> {{ instructorEmail }}</p>
      <p><strong>Office Hour:</strong> {{ officeHour }}</p>
    </div>
  
    <h3>Course Objectives</h3>
    <p>{{ courseObjectives }}</p>
  
    <h3>Course Tentative Outline</h3>
    <ol>
      <li *ngFor="let topic of courseOutline">{{ topic }}</li>
    </ol>
  
    <h3>Class Meetings</h3>
    <p>{{ classMeetings }}</p>
  
    <h3>Prerequisites</h3>
    <p>{{ prerequisites }}</p>
  
    <h3>Textbooks</h3>
    <ul>
      <li>
        <a href="https://link.springer.com/book/10.1007/978-3-030-96756-7" target="_blank">
          <img src="assets/eec179book.png" alt="EEC 179 Textbook" class="textbook-image">
          Machine Learning for Computer Scientists and Data Analysts, From an Applied Perspective 3, Springer Nature, 2022, Setareh Rafatirad · Houman Homayoun Zhiqian Chen · Sai Manoj Pudukotai Dinakarrao
        </a>
      </li>
      <li>{{ textbook2 }}</li>
    </ul>
    
  
    <h3>Exams</h3>
    <p>{{ exams }}</p>
  
    <h3>Lectures</h3>
    <ul>
        <li *ngFor="let lecture of lectures; let i = index">
            <a [href]="lectureLinks[i]" target="_blank">{{ lecture }}</a>
        </li>
    </ul>
  
    <h3>Paper Presentation</h3>
    <p>{{ paperPresentation }}</p>
  
    <div class="course-grade">
        <h3>Course Grade</h3>
        <ul>
          <li>
            <span class="exam-label">Assignments and Projects:</span>
            <span class="details">50%</span>
          </li>
          <li>
            <span class="exam-label">Presentation:</span>
            <span class="details">15%</span>
          </li>
          <li>
            <span class="exam-label">Exams:</span>
            <span class="details">35%</span>
          </li>
          <li>
            <span class="exam-label">Midterm Exam:</span>
            <span class="details">TBD</span>
          </li>
        </ul>
      </div>
    </div>

  