<header>
    <nav class="main-nav navbar-expand-lg">
        <div class="row">
          <div style="padding-right: 20%;">
            <div class="logo">
              <a href="index.html"><img src="../../assets/images/logo.jpg" alt="logo"></a>
            </div>
    
    
            <ul class="nav-menu list-unstyled">
              <li><a href="#header" class="smooth-scroll">Home</a></li>
              <li><a href="#about" class="smooth-scroll">About</a></li>
              <li><a href="#portfolio" class="smooth-scroll">Portfolio</a></li>
              <li><a href="#journal" class="smooth-scroll">Blog</a></li>
              <li><a href="#contact" class="smooth-scroll">Contact</a></li>
            </ul>
    
          </div>
        </div>
      </nav>
</header>