@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0; 
  margin: 0; 
}


nav {
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li {
  font-family: 'Poppins', sans-serif;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  display: block;
  font-size: 15px;
  color: #999999;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 16px 10px;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  color: black;

}

.logo {
  float: left;
  padding-left: 20%;
}

.logo img {
  width: 30%;
  height: 30%;
}
 
  .responsive {
    display: none;
    font-size: 23px;
  }
  
  .active {
    color: #afafaf;
  }
  
  .main-nav {
    display: block !important;
    position: relative;
  }
  
  .navbar-expand-lg{
    animation: fadeIn 0.75s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
  }
  

  #research{
    height: auto !important;
  }
  
#logo{
  position: absolute;
  top: 15%; 
  left: 50%;
  transform: translate(-50%, -15%); 
  margin-bottom: 10px;
  animation: fill 0.5s ease forwards 2.5s; 
}

#logo path:nth-child(1){
  stroke-dasharray: 289.62725830078125px;
  stroke-dashoffset: 289.62725830078125px;
  animation: line-anim 2s ease forwards; 
}

#logo path:nth-child(2){
  stroke-dasharray: 247.31051635742188px;
  stroke-dashoffset: 247.31051635742188px;
  animation: line-anim 2s ease forwards 0.1s;
}
#logo path:nth-child(3){
  stroke-dasharray: 231.9273223876953px;
  stroke-dashoffset: 231.9273223876953px;
  animation: line-anim 2s ease forwards 0.2s;
}
#logo path:nth-child(4){
  stroke-dasharray: 250.7732696533203px;
  stroke-dashoffset: 250.7732696533203px;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(5){
  stroke-dasharray: 151.71096801757812px;
  stroke-dashoffset: 151.71096801757812px;
  animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(6){
  stroke-dasharray: 211.22018432617188px;
  stroke-dashoffset: 211.22018432617188px;
  animation: line-anim 2s ease forwards 0.5s;
}
#logo path:nth-child(7){
    stroke-dasharray: 268.7515869140625px;
    stroke-dashoffset: 268.7515869140625px;
    animation: line-anim 2s ease forwards 0.5s;
}
#logo path:nth-child(8){
    stroke-dasharray: 247.31068420410156px;
    stroke-dashoffset: 247.31068420410156px;
    animation: line-anim 2s ease forwards 0.5s;
}

@keyframes line-anim {
    to{
      stroke-dashoffset: 0px;
    }
  
}
@keyframes fill {
  from{
    fill: transparent;
  }
  to{
    fill:black; 
  }
}

.container{
    margin: 0 auto; 
    display: grid;
    grid-template-columns:auto auto;
    column-gap: 10%;
    row-gap: 1%;
    padding-bottom: 65%;
}
.image{
  border-radius: 10%;
  border: 2px solid #b8a07e;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5%;
  margin-top: 5%;
}

.assec-div{
  font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    text-align: center;
    width: 95%;
    margin-top: 10%;
}

.aseec-image {
  margin: 0 auto;
  border-radius: 20%;
  border: 5px solid #b8a07e;
}


.search-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #f1e4d7;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
}

.search-container input[type="text"] {
  flex: 1;
  border: none;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
}

.search-container button[type="submit"] {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.search-container button[type="submit"] i {
  color: #8c765c;
  font-size: 18px;
  border: 2px solid #8c765c;
  border-radius: 50%;
  padding: 5px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding-bottom: 5%;
}

.project-card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #b8a07e;
}

.project-card:hover {
  border: 3px solid #b8a07e;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #b8a07e;
  transition: border-color 0.3s ease-in-out;
}
.project-image:hover {
  border: 2px solid #b8a07e;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Show only 2 lines of text */
}
.project-more-text {
  display: none; /* Hide the additional text initially */
}
.project-read-more{
  background-color: #b8a07e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.project-read-more:hover{
  background-color: #8c765c;
}

.line{
  height: 2px;
  width: 40%;
  margin: 0 auto; 
  background-color: #b8a07e;
}

@media only screen 
and  (min-width: 320px) and (max-width: 420px){
  .about-asec{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .logo {
    float: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  }
  nav ul li {
    margin: 0;
    width: 25%;
    text-align: center;
    margin: 0 auto;
  }
  nav ul li a{
    font-size: 15px;
  }
       
  #logo{
    width: 60%;
    top: 22%; 
   }
   #research{
     padding-top: 25%; 
   }
   .project-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .search-container button[type="submit"] i{
    padding: 15px;
    font-size: 25px;
    margin-left: 10px; 
  }
}

@media only screen 
  and  (min-width: 421px) and (max-width: 520px){
    .logo {
      float: none;
    }
    .nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 120%;
    }
    nav ul li {
      margin: 0;
      width: 25%;
      text-align: center;
      margin: 0 auto;
    }
    nav ul li a{
      font-size: 15px;
    }

    .about-asec{
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    #logo{
      width: 60%;
      top: 30%; 
     }
     #research{
       padding-top: 25%; 
     }
     .project-container {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
    }
}

@media only screen 
  and  (min-width: 521px) and (max-width: 620px){
    .logo {
      float: none;
    }
    .nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 120%; 
    }
    nav ul li {
      margin: 0;
      width: 20%;
      text-align: center;
      margin: 0 auto;
    }
    nav ul li a{
      font-size: 15px;
    }
    .about-asec{
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    #logo{
      width: 60%;
      top: 30%; 
     }
     #research{
       padding-top: 25%; 
     }
     .project-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }  
  }

  @media only screen 
  and  (min-width: 621px) and (max-width: 820px){
   
    .logo {
      float: none;
    }
    .nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 120%;
    }
    nav ul li {
      margin: 0;
      width: 20%;
      text-align: center;
      margin: 0 auto;
    }
    nav ul li a{
      font-size: 20px;
    }
    .about-asec{
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }
    #logo{
      width: 60%;
      top: 30%; 
     }
     #research{
       padding-top: 10%; 
     }
     .project-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }  
         
  }

    
  @media only screen 
  and  (min-width: 821px) and (max-width: 920px){

    .logo {
      float: none;
    }
    .nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 125%;
    
    }
    nav ul li {
      margin: 0;
      width: 10%;
      text-align: center;
      margin: 0 auto;
    }
    nav ul li a{
      font-size: 20px;
      margin: 0 auto;
    }
    #logo{
      width: 60%;
      top: 20%; 
     }
     #research{
       padding-top: 10%; 
     }
     .project-container {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    } 
  }

  @media only screen 
  and  (min-width: 921px) and (max-width: 1320px){

    .logo {
      float: none;
    }
    .nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 125%;
    
    }
    nav ul li {
      margin: 0;
      width: 10%;
      text-align: center;
      margin: 0 auto;
    }
    nav ul li a{
      font-size: 20px;
      margin: 0 auto;
    } 
    
    #logo{
      width: 70%;
      top: 25%; 
     }
    
     .project-container {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 25px;
    } 
        
  }

   
  @media only screen 
  and  (min-width: 1321px) and (max-width: 1520px){
    .logo {
      float: none;
    }
    .nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 125%;
    
    }
    nav ul li {
      margin: 0;
      width: 10%;
      text-align: center;
      margin: 0 auto;
    }
    nav ul li a{
      font-size: 20px;
      margin: 0 auto;
    }
    
    #logo{
      width: 70%;
      top: 25%; 
     }
    
     .project-container {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 25px;
    } 
        
  }