<header>
  <nav class="main-nav navbar-expand-lg">
    <div class="row">
      <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <ul class="nav-menu list-unstyled">
          <li><a href="#home" class="smooth-scroll">Home</a></li>
          <li><a href="#about" class="smooth-scroll">About</a></li>
          <li><a href="#courses" class="smooth-scroll">Courses</a></li>
          <li><a routerLink="/awards" class="smooth-scroll">Awards</a></li>
          <li><a routerLink="/publications" class="smooth-scroll">Publications</a></li>
          <li><a routerLink="/research" class="smooth-scroll">Research</a></li>
          <li><a routerLink="/students" class="smooth-scroll">Students</a></li>
          <li><a routerLink="/cv" class="smooth-scroll">Consulting/CV</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<section id="research">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div class="assec-div">
  <h1 class="aseec" style="font-weight: bold;">{{this.researchIntro.title}}</h1>
  <img class="aseec-img" *ngIf="researchIntro.img_name" [src]="this.researchIntro.img_name">
  <p class="about-asec" style="color: black;">{{this.researchIntro.content}} </p>

  <br><br>
  <div class="line"></div>
  <br><br>

  <h1 class="searchTitle"> Search Research </h1>
  <br>
  <div class="search-container">
    <input type="text" placeholder="Search..." [(ngModel)]="searchResearch">
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
  </div>
  
  <br><br>
  
  <div class="project-container">
    <div class="project-card" *ngFor = "let research of researchData | search: searchResearch; let ind = index">
      <img *ngIf="research.img_name" class="project-image" [src]="research.img_name" style="height: auto; width: auto;">
      <br>
      <h2 class="project-title">{{research.title}}</h2>
      <p [ngClass]="this.readMoreList[ind] == false ? 'project-description' : 'project-description-full'">{{research.content}}</p>
      <br>
      <button *ngIf="this.readMoreList[ind] == false" class="project-read-more" (click)="readMore(ind)">Read more</button>
      <button *ngIf="this.readMoreList[ind] == true" class="project-read-more" (click)="readLess(ind)">Read Less</button>
    </div>
    
	</div>

</div>
 





</section>