#about {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  padding-top: 100px;
}

#about .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
  border-radius: 50px;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
  border-radius: 50px;
}

#about .about-descr .p-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: left;
  color: black;
  text-align: center;
}

#about .about-descr .separator {
  margin-bottom: 0;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 15px;
}

.heading{
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}
