<section id="about">

    <div id="about" class="paddsection">
        <div class="container">
          <div class="row justify-content-between">
    
            <div class="col-lg-4 ">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="../../assets/images/profile.png" class="img-responsive" alt="me">
                </div>
              </div>
            </div>
    
            <div class="col-lg-7">
              <div class="about-descr">
    
                <p class="p-heading"><b>Houman Homayoun</b> is a Professor in the Department of Electrical and Computer Engineering at the University of California, Davis. He leads the National Science Foundation Center for Hardware and Embedded Systems Security and Trust. Under his direction, <b>CHEST</b> tackles some of the most pressing security challenges facing the world today, helping to ensure the safety and reliability of hardware and embedded systems.</p>

                <h1 class="heading">History <div class="line"></div></h1>
                

                <p class="separator">Prior to his current position, Houman Homayoun held an Associate Professorship in the Department of Electrical and Computer Engineering at George Mason University. He was also a recipient of the Computing Innovation (CI) Fellowship from the CRA-CCC, during which he spent two years at the University of California, San Diego. Dr. Homayoun completed his Ph.D. in Computer Science at the University of California, Irvine, where he was awarded the prestigious four-year Computer Science Department Chair Fellowship. His educational background also includes an MS in computer engineering from the University of Victoria and a BS in electrical engineering from the Sharif University of Technology. 
                
              </p>
    
              </div>
    
            </div>
          </div>
        </div>
      </div>
</section>