<section id="about">
    <div id="about" class="paddsection">
        <div class="container">
          <div class="row justify-content-between">
    
            <div class="col-lg-4 ">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="../../assets/images/profile.png" class="img-responsive" alt="me">
                </div>
              </div>
            </div>
    
            <div class="col-lg-7">
              <div class="about-descr">
    
                <p class="p-heading">Houman Homayoun is currently a Professor in the Department of Electrical and Computer Engineering at the University of California, Davis. He is also the director of the National Science Foundation Center for Hardware and Embedded Systems Security and Trust (CHEST).</p>


                <p class="separator">Before that, he was an Associate Professor in the Department of Electrical and Computer Engineering at George Mason University (GMU). From 2010 to 2012, he spent two years at the University of California, San Diego, as NSF Computing Innovation (CI) Fellow awarded by the CRA-CCC. Houman graduated in 2010 from the University of California, Irvine, with a Ph.D. in Computer Science. He was a recipient of the four-year University of California, Irvine Computer Science Department chair fellowship. Houman received an MS degree in computer engineering in 2005 from the University of Victoria and a BS degree in electrical engineering in 2003 from the Sharif University of Technology.</p>
    
              </div>
    
            </div>
          </div>
        </div>
      </div>
</section>