<section id="researchCarousel">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      
    </ol>

    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="d-block w-100"> <img src="https://img.icons8.com/external-smashingstocks-mixed-smashing-stocks/256/external-machine-learning-smart-devices-smashingstocks-mixed-smashing-stocks.png" class="AM"> <h1>Applied Machine Learning</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"  >Hardware Security and Trust</div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >Adversarial Machine Learning</div>
      </div>
      
      <div class="carousel-item">
        <div class="d-block w-100" >Cybersecurity</div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >Big Data Computing</div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >"Algorithms for Energy-Efficient Acceleration of Big Data"></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >"Heterogeneous Computing"></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >"Accelerating Wearable Biomedical Computing"></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >"Heterogeneous Architecture Mapping and Scheduling"></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >"Emerging STT Logic for Enhancing Hardware Security and Trust"></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >"3D Integration and Design"></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >"Low Power and Thermal Aware Design"></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >"DRAM Memory Management for Emerging Big Data Applications"></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >"Emerging Memory Technologies (non-volatile STTRAM, PCM, and volatile HMC)"></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >"Performance Characterization of Emerging Applications"></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100" >"Energy Efficiency and Power Management in Enterprise Datacenter"></div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div>


</section>