<h2> Award </h2>
<br>
<input type="file" (change)="onFileChange($event)">
<br>
<button (click)="removeImage()"> remove image </button>
<br>
<input placeholder="Name" [(ngModel)]="name">
<br>
<input  placeholder="link" [(ngModel)]="link">
<br>
<input  placeholder="timespan" [(ngModel)]="timespan">
<br>
<input  placeholder="earnings" [(ngModel)]="earnings">
<br>
<textarea placeholder="description" [(ngModel)]="description" ows="4" cols="50"></textarea>
<br>
<button (click)="addAward()">Update</button>