/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);


.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 0.8rem;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

.grid-container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-left: 10%;
    height: auto;
}

.grid-item {
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}

  #awards{
    height: auto !important;
  }


.container{
    margin: 0 auto; 
    display: grid;
    grid-template-columns:auto auto;
    column-gap: 10%;
    row-gap: 1%;
    top: 1.5%;
    transform: translateY(1.5%);
    padding-bottom: 65%;
}

.researchCard{
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
    border-radius: 10%;
    transition: 0.5s;
}

.researchCard:hover{
    background: #eee;
    box-shadow: 0 8px 8px -4px green;
}

.cardTitle{
    text-align: center;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin-top: 5%;
    width: 90%; 
}
.cardDescription{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    margin: 0 auto;
    width: 95%;
}