/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  

/* Awards */
.card {
  width: 100%;
  height: 500px; 
  border-radius: 20px;
  background: #f1e4d7;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #b8a07e;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .card-details {
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #b8a07e;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  font-size: 25px;
 }
 .about-body{
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Show only 2 lines of text */
  color: #000000;
 }
 /*Text*/
 .text-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #b8a07e;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #b8a07e;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

.grid-container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2%;
  height: auto;
}

.grid-item {
  margin: 0 auto;
  text-align: center;
}


/*research */

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding-bottom: 5%;
}

.project-card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #b8a07e;
}

.project-card:hover {
  border: 3px solid #b8a07e;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #b8a07e;
  transition: border-color 0.3s ease-in-out;
}
.project-image:hover {
  border: 2px solid #b8a07e;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* Show only 2 lines of text */
}
.project-more-text {
  display: none; /* Hide the additional text initially */
}
.project-read-more{
  background-color: #b8a07e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.project-read-more:hover{
  background-color: #8c765c;
}

.line{
  height: 2px;
  width: 40%;
  margin: 0 auto; 
  background-color: #b8a07e;
}

/* Publications */

.container {
  width: 100%;
  margin: 0 auto;
}
.publications {
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #b8a07e;
}
a{
  color: black;
}
th {
  background-color: #f2f2f2;
}
.line{
  height: 2px;
  width: 40%;
  margin: 0 auto; 
  background-color: #b8a07e;
}


.phd-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin: 0 auto; 
  text-align: center;
}

.image{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px dotted #b8a07e;
}
.people{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15%;
}

.postdoc-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin: 0 auto; 
}

.people2{
  font-family: 'Poppins', sans-serif;
  border-radius: 20%;
}

.image2{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px dotted #b8a07e;
  margin-left: 20%;
}
.about1{
  font-family: 'Poppins', sans-serif;
  border: 10px solid #b8a07e;
  border-radius: 20%;
  margin-right: 5%;
}
.about2{
  margin: o auto;
  text-align: center;
  position: relative;
  top: 20%;
  right: 90%;
  transform: translate(90%, 20%);
}
.about3{
  margin: o auto;
  text-align: center;
  position: relative;
  top: 10%;
  right: 90%;
  transform: translate(90%, 10%);
}
