<header>
    <nav class="main-nav navbar-expand-lg">
      <div class="row">
        <div style="padding-right: 15%;">
          <div class="logo">
            <a href="index.html"><img src="https://ece.ucdavis.edu/sites/g/files/dgvnsk8091/files/ece_logo_125px.png"
                alt="logo"></a>
          </div>
  
  
          <ul class="nav-menu list-unstyled">
            <li><a href="#home" class="smooth-scroll">Home</a></li>
            <li><a href="#about" class="smooth-scroll">About</a></li>
            <li><a href="/awards" class="smooth-scroll">Awards</a></li>
            <li><a href="/publications" class="smooth-scroll">Publications</a></li>
            <li><a href="#contact" class="smooth-scroll">Contact</a></li>
          </ul>
  
        </div>
      </div>
    </nav>
  </header>
  
<section id="student">
    <div class="grid-container">
        <div class="grid-item">
          <img src="image1.jpg" alt="Image 1">
          <h1></h1>
        </div>
    </div>

</section>
  