@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0; 
  margin: 0; 

}


nav {
    background-color: #f7f7f7;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 20px;
    display: none;
}
  
  .nav-menu {
    float: right;
    line-height: 32px;
    margin-bottom: 0;
    padding-top: 16px;
  }
  
  nav ul li {
    float: left;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
  }
  
  nav ul li a {
    padding: 2px 0 0 0;
    position: relative;
    display: block;
    font-size: 15px;
    color: #999999;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  
  nav ul li a:hover{
    color: black;
    font-size: 16px;
  }
  
  .logo {
    float: left;
    padding-left: 20%;
  }
  
  .logo img {
    width: 30%;
    height: 30%;
  }
 
  .responsive {
    display: none;
    font-size: 23px;
  }
  
  .active {
    color: #afafaf;
  }
  
  .main-nav {
    display: block !important;
    position: relative;
  }
  
  .navbar-expand-lg{
    animation: fadeIn 0.75s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
  }

  #student{
    height: auto !important;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 10px;
    padding: 10px;
  }
  
  /* Define the grid items */
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  /* Make images responsive */
  img {
    max-width: 100%;
    height: auto;
  }