@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box !important;
}


nav {
    background-color: #f7f7f7;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 20px;
    display: none;
}
  
  .nav-menu {
    float: right;
    line-height: 32px;
    margin-bottom: 0;
    padding-top: 16px;
  }
  
  nav ul li {
    float: left;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    margin-left: 40px;
  }
  
  nav ul li a {
    padding: 2px 0 0 0;
    position: relative;
    display: block;
    font-size: 15px;
    color: #999999;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  
  nav ul li a:hover{
    color: black;
    font-size: 16px;
  }
  
  .logo {
    float: left;
    padding-left: 20%;
  }
  
  .logo img {
    width: 30%;
    height: 30%;
  }
 
  .responsive {
    display: none;
    font-size: 23px;
  }
  
  .active {
    color: #afafaf;
  }
  
  .main-nav {
    display: block !important;
    position: relative;
  }
  
  #container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .navbar-expand-lg{
    animation: fadeIn 0.75s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
  }
  
  .card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 0.8rem;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

.grid-container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-left: 10%;
    height: auto;
}

.grid-item {
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
}

  #awards{
    height: auto !important;
  }
  
#logo{
  position: absolute;
  top: 15%; 
  left: 50%;
  transform: translate(-50%, -15%); 
  margin-bottom: 10px;
  animation: fill 0.5s ease forwards 2.5s; 
  z-index: 100;
}

#logo path:nth-child(1){
  stroke-dasharray:  329.0250549316406px;
  stroke-dashoffset: 329.0250549316406px;
  animation: line-anim 2s ease forwards; 
}

#logo path:nth-child(2){
  stroke-dasharray: 442.1668395996094px;
  stroke-dashoffset: 442.1668395996094px;
  animation: line-anim 2s ease forwards 0.1s;
}
#logo path:nth-child(3){
  stroke-dasharray: 313.4666748046875px;
  stroke-dashoffset: 313.4666748046875px;
  animation: line-anim 2s ease forwards 0.2s;
}
#logo path:nth-child(4){
  stroke-dasharray: 189.638916015625px;
  stroke-dashoffset: 189.638916015625px;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(5){
  stroke-dasharray: 349.69708251953125px;
  stroke-dashoffset: 349.69708251953125px;
  animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(6){
  stroke-dasharray: 289.90948486328125px;
  stroke-dashoffset: 289.90948486328125px;
  animation: line-anim 2s ease forwards 0.5s;
}


@keyframes line-anim {
    to{
      stroke-dashoffset: 0px;
    }
  
}
@keyframes fill {
  from{
    fill: transparent;
  }
  to{
    fill:black; 
  }
}