<header>
    <nav class="main-nav navbar-expand-lg">
        <div class="row">
          <div style="padding-right: 20%;">
            <div class="logo">
              <a href="index.html"><img src="https://ece.ucdavis.edu/sites/g/files/dgvnsk8091/files/ece_logo_125px.png" alt="logo"></a>
            </div>
    
    
            <ul class="nav-menu list-unstyled">
              <li><a href="#home" class="smooth-scroll">Home</a></li>
              <li><a href="#about" class="smooth-scroll">About</a></li>
              <li><a href="/awards" class="smooth-scroll">Awards</a></li>
              <li><a href="#journal" class="smooth-scroll">Blog</a></li>
              <li><a href="#contact" class="smooth-scroll">Contact</a></li>
            </ul>
    
          </div>
        </div>
      </nav>
  </header>

  <section id="awards">
    <h1 class="title">Awards</h1>
    <div class="line"></div>
    

      <div class="grid-container">

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">IEEE Senior Member</p>
                  <p class="text-body">2020</p>
                </div>
                <a href="https://ieeexplore.ieee.org/author/37398927100" target=”_blank” class="card-button">More info</a>
              </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">NSF Computing Innovation (CI) Fellow Mentor </p>
                  <p class="text-body">2020</p>
                </div>
                <a href="https://cra.org/announcing-the-2020-computing-innovation-fellows/" target=”_blank” class="card-button">More info</a>
              </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">Best Paper Nominee, IEEE Computer Society Annual Symposium on VLSI (ISVLSI)</p>
                  <p class="text-body">2020</p>
                </div>
                <a href="https://citris-uc.org/people/person/houman-homayoun/" target="_blank" class="card-button">More info</a>
              </div>
        </div>  

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">Best Paper Award, 14th IEEE Dallas Circuits and Systems (DCAS)</p>
                  <p class="text-body">2020</p>
                </div>
                <a href="https://engineering.utdallas.edu/DCAS/invited-speakers.html" target="_blank" class="card-button">More info</a>
              </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">ACM GLSVLSI Service Recognition Award</p>
                  <p class="text-body">2020</p>
                </div>
                <a href="https://ece.ucdavis.edu/news/prof-houman-homayoun-recignized-association-computing-machinerys-glsvlsi-service-recognition" target="_blank" class="card-button">More info</a>
              </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">Core Member, Hardware Assurance Group, Systems Engineering Body of Knowledge (SEBoK)</p>
                  <p class="text-body">2020</p>
                </div>
                <a href="https://sebokwiki.org/wiki/Guide_to_the_Systems_Engineering_Body_of_Knowledge_(SEBoK)" target="_blank" class="card-button">More info</a>
              </div>
        </div>  

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">Best Paper Award, 19th IEEE International Conference on Data Mining (ICDM)</p>
                  <p class="text-body">2020</p>
                </div>
                <a href="https://ece.ucdavis.edu/news/prof-houman-homayoun-wins-best-paper-award-19th-ieee-international-conference-data-mining" target="_blank" class="card-button">More info</a>
              </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">Congress budget appropriation for CHEST Center as part of National Defense Authorization Act </p>
                  <p class="text-body">2020</p>
                </div>
                <a href="https://www.congress.gov/bill/117th-congress/house-bill/7900" target="_blank" class="card-button">More info</a>
              </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">Best Paper Nominee, International Conference on Computer Aided Design (ICCAD)</p>
                  <p class="text-body">2019</p>
                </div>
                <a href="https://ece.ucdavis.edu/news/prof-houman-homayoun-and-ece-phd-student-gaurav-kolhe-nominated-best-paper-award-iccad" target="_blank" class="card-button">More info</a>
              </div>
        </div> 

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">NSF IUCRC Center Award, Center for HW Security</p>
                  <p class="text-body">2019-2024</p>
                </div>
                <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1747780&HistoricalAwards=false" target="_blank" class="card-button">More info</a>
              </div>
        </div>  

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">General Chair, IEEE/ACM 29th ACM Great Lakes Symposium on VLSI </p>
                  <p class="text-body">2019</p>
                </div>
                <a href="http://www.wikicfp.com/cfp/servlet/event.showcfp?eventid=82163" target="_blank" class="card-button">More info</a>
              </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">Technical Program Co-Chair, IEEE/ACM 28th ACM Great Lakes Symposium on VLSI </p>
                  <p class="text-body">2018</p>
                </div>
                <a href="https://www.glsvlsi.org/program.html" target="_blank" class="card-button">More info</a>
              </div>
        </div>
        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">Associate Editor, IEEE Transactions on VLSI </p>
                  <p class="text-body">2017-Present</p>
                </div>
                <a href="https://ieeexplore.ieee.org/author/37398927100" target="_blank" class="card-button">More info</a>
              </div>
        </div> 

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">Best Paper Award, 26th ACM Great Lakes Symposium on VLSI (GLSVLSI)</p>
                  <p class="text-body">2016</p>
                </div>
                <a href="https://www.acm.org/conferences/best-paper-awards" target="_blank" class="card-button">More info</a>
              </div>
        </div>  

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">DARPA Microsystems Technology Office Award $330K</p>
                  <p class="text-body">2015-2017</p>
                </div>
                <a href="https://myemail.constantcontact.com/Funding-Opportunities--Engineering-and-Applied-Sciences.html?soid=1111345979402&aid=KIMaL4qCTdQ" target="_blank" class="card-button">More info</a>
              </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">National Science Foundation Cyber Physical Program Award $995K</p>
                  <p class="text-body">2013-2018</p>
                </div>
                <a href="https://cec.gmu.edu/research/grants" target="_blank" class="card-button">More info</a>
              </div>
        </div>
        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">General Motors Corporation Research Fund $261K</p>
                  <p class="text-body">2013-2016</p>
                </div>
                <a href="https://cec.gmu.edu/research/grants" target="_blank" class="card-button">More info</a>
              </div>
        </div> 

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">National Science Foundation CI Fellow Award $280K</p>
                  <p class="text-body">2010-2012</p>
                </div>
                <a href="https://cec.gmu.edu/research/grants" target="_blank" class="card-button">More info</a>
              </div>
        </div>  

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">ACM Doctoral Dissertation Award Nominee (2 out of 31 dissertations selected) </p>
                  <p class="text-body">2010</p>
                </div>
                <a href="https://awards.acm.org/doctoral-dissertation/award-recipients" target="_blank" class="card-button">More info</a>
              </div>
        </div>
        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">4-Years Chair Fellowship Award, University of California Irvine $160K</p>
                  <p class="text-body">2006</p>
                </div>
                <a href="https://www.sciencedirect.com/science/article/pii/S2210537910000065" target="_blank" class="card-button">More info</a>
              </div>
        </div>  

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">Outstanding Graduate Student Award, (APSIH)</p>
                  <p class="text-body">2010</p>
                </div>
                <a href="https://ansci.osu.edu/graduate/outstanding-graduate-student-award" target="_blank" class="card-button">More info</a>
              </div>
        </div>
        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">First Place, IEEE Orange County and Western Digital Student Design Contest</p>
                  <p class="text-body">2009</p>
                </div>
                <a href="https://r6.ieee.org/ocs/wp-content/uploads/sites/16/2011/03/July2012.pdf" target="_blank" class="card-button">More Info</a>
              </div>
        </div>  

        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">First Place, IEEE Orange County and Western Digital Student Design Contest.</p>
                  <p class="text-body">2008</p>
                </div>
                <a href="https://r6.ieee.org/ocs/wp-content/uploads/sites/16/2011/03/July2012.pdf" target="_blank" class="card-button">More info</a>
              </div>
        </div>
        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">University Scholarship, McMaster University, Canada</p>
                  <p class="text-body">2006</p>
                </div>
                <a href="https://gs.mcmaster.ca/current-students/scholarships/" target="_blank" class="card-button">More info</a>
              </div>
        </div>
        <div class="grid-item">
            <div class="card">
                <div class="card-details">
                  <p class="text-title">NAHAAL Scholarship for Excellence in Education and Research</p>
                  <p class="text-body">2001</p>
                </div>
                <a href="https://goldwaterscholarship.gov/" target="_blank" class="card-button">More info</a>
              </div>
        </div>

      </div>
      
  </section>