<header *ngIf="hidden">
  <nav class="main-nav navbar-expand-lg">
      <div class="row">
        <div style="padding-right: 20%;">
          <div class="logo">
            <a href="index.html"><img src="https://ece.ucdavis.edu/sites/g/files/dgvnsk8091/files/ece_logo_125px.png" alt="logo"></a>
          </div>
  
  
          <ul class="nav-menu list-unstyled">
            <li><a href="#home" class="smooth-scroll">Home</a></li>
            <li><a href="#about" class="smooth-scroll">About</a></li>
            <li><a href="/awards" class="smooth-scroll">Awards</a></li>
            <li><a href="/publications" class="smooth-scroll">Publications</a></li>
            <li><a href="/research" class="smooth-scroll">Research</a></li>
            <li><a href="/students" class="smooth-scroll">Students</a></li>
            <li><a href="/cv" class="smooth-scroll">Consulting/CV</a></li>
          </ul>
  
        </div>
      </div>
    </nav>
</header>


<section id="home">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <div id="header" class="home">
        <img src="https://ece.ucdavis.edu/sites/g/files/dgvnsk8091/files/ece_logo_125px.png" class="eceLogo" >
        <div class="container"> 
          <svg viewBox="0 0 978 71" fill="none" xmlns="http://www.w3.org/2000/svg" id="logo">
            <path d="M57.3 3.82V67H41.91V40.99H17.97V67H2.58V3.82H17.97V28.57H41.91V3.82H57.3Z" stroke="white" stroke-width="5"/>
            <path d="M98.2901 67.63C92.3501 67.63 86.8901 66.25 81.9101 63.49C76.9901 60.73 73.0601 56.89 70.1201 51.97C67.2401 46.99 65.8001 41.41 65.8001 35.23C65.8001 29.05 67.2401 23.5 70.1201 18.58C73.0601 13.66 76.9901 9.82 81.9101 7.06C86.8901 4.3 92.3501 2.92 98.2901 2.92C104.23 2.92 109.66 4.3 114.58 7.06C119.56 9.82 123.46 13.66 126.28 18.58C129.16 23.5 130.6 29.05 130.6 35.23C130.6 41.41 129.16 46.99 126.28 51.97C123.4 56.89 119.5 60.73 114.58 63.49C109.66 66.25 104.23 67.63 98.2901 67.63ZM98.2901 53.59C103.33 53.59 107.35 51.91 110.35 48.55C113.41 45.19 114.94 40.75 114.94 35.23C114.94 29.65 113.41 25.21 110.35 21.91C107.35 18.55 103.33 16.87 98.2901 16.87C93.1901 16.87 89.1101 18.52 86.0501 21.82C83.0501 25.12 81.5501 29.59 81.5501 35.23C81.5501 40.81 83.0501 45.28 86.0501 48.64C89.1101 51.94 93.1901 53.59 98.2901 53.59Z" stroke="white" stroke-width="5"/>
            <path d="M154.282 3.82V41.62C154.282 45.4 155.212 48.31 157.072 50.35C158.932 52.39 161.662 53.41 165.262 53.41C168.862 53.41 171.622 52.39 173.542 50.35C175.462 48.31 176.422 45.4 176.422 41.62V3.82H191.812V41.53C191.812 47.17 190.612 51.94 188.212 55.84C185.812 59.74 182.572 62.68 178.492 64.66C174.472 66.64 169.972 67.63 164.992 67.63C160.012 67.63 155.542 66.67 151.582 64.75C147.682 62.77 144.592 59.83 142.312 55.93C140.032 51.97 138.892 47.17 138.892 41.53V3.82H154.282Z" stroke="white" stroke-width="5"/>
            <path d="M274.169 3.82V67H258.779V29.11L244.649 67H232.229L218.009 29.02V67H202.619V3.82H220.799L238.529 47.56L256.079 3.82H274.169Z" stroke="white" stroke-width="5"/>
            <path d="M324.566 55.84H300.986L297.206 67H281.096L303.956 3.82H321.776L344.636 67H328.346L324.566 55.84ZM320.606 43.96L312.776 20.83L305.036 43.96H320.606Z" stroke="white" stroke-width="5"/>
            <path d="M408.114 67H392.724L366.984 28.03V67H351.594V3.82H366.984L392.724 42.97V3.82H408.114V67Z" stroke="white" stroke-width="5"/>
            <path d="M493.062 3.82V67H477.672V40.99H453.732V67H438.342V3.82H453.732V28.57H477.672V3.82H493.062Z" stroke="white" stroke-width="5"/>
            <path d="M534.052 67.63C528.112 67.63 522.652 66.25 517.672 63.49C512.752 60.73 508.822 56.89 505.882 51.97C503.002 46.99 501.562 41.41 501.562 35.23C501.562 29.05 503.002 23.5 505.882 18.58C508.822 13.66 512.752 9.82 517.672 7.06C522.652 4.3 528.112 2.92 534.052 2.92C539.992 2.92 545.422 4.3 550.342 7.06C555.322 9.82 559.222 13.66 562.042 18.58C564.922 23.5 566.362 29.05 566.362 35.23C566.362 41.41 564.922 46.99 562.042 51.97C559.162 56.89 555.262 60.73 550.342 63.49C545.422 66.25 539.992 67.63 534.052 67.63ZM534.052 53.59C539.092 53.59 543.112 51.91 546.112 48.55C549.172 45.19 550.702 40.75 550.702 35.23C550.702 29.65 549.172 25.21 546.112 21.91C543.112 18.55 539.092 16.87 534.052 16.87C528.952 16.87 524.872 18.52 521.812 21.82C518.812 25.12 517.312 29.59 517.312 35.23C517.312 40.81 518.812 45.28 521.812 48.64C524.872 51.94 528.952 53.59 534.052 53.59Z" stroke="white" stroke-width="5"/>
            <path d="M646.474 3.82V67H631.084V29.11L616.954 67H604.534L590.314 29.02V67H574.924V3.82H593.104L610.834 47.56L628.384 3.82H646.474Z" stroke="white" stroke-width="5"/>
            <path d="M696.871 55.84H673.291L669.511 67H653.401L676.261 3.82H694.081L716.941 67H700.651L696.871 55.84ZM692.911 43.96L685.081 20.83L677.341 43.96H692.911Z" stroke="white" stroke-width="5"/>
            <path d="M778.078 3.82L756.208 46.12V67H740.818V46.12L718.948 3.82H736.408L748.648 30.28L760.798 3.82H778.078Z" stroke="white" stroke-width="5"/>
            <path d="M814.159 67.63C808.219 67.63 802.759 66.25 797.779 63.49C792.859 60.73 788.929 56.89 785.989 51.97C783.109 46.99 781.669 41.41 781.669 35.23C781.669 29.05 783.109 23.5 785.989 18.58C788.929 13.66 792.859 9.82 797.779 7.06C802.759 4.3 808.219 2.92 814.159 2.92C820.099 2.92 825.529 4.3 830.449 7.06C835.429 9.82 839.329 13.66 842.149 18.58C845.029 23.5 846.469 29.05 846.469 35.23C846.469 41.41 845.029 46.99 842.149 51.97C839.269 56.89 835.369 60.73 830.449 63.49C825.529 66.25 820.099 67.63 814.159 67.63ZM814.159 53.59C819.199 53.59 823.219 51.91 826.219 48.55C829.279 45.19 830.809 40.75 830.809 35.23C830.809 29.65 829.279 25.21 826.219 21.91C823.219 18.55 819.199 16.87 814.159 16.87C809.059 16.87 804.979 18.52 801.919 21.82C798.919 25.12 797.419 29.59 797.419 35.23C797.419 40.81 798.919 45.28 801.919 48.64C804.979 51.94 809.059 53.59 814.159 53.59Z" stroke="white" stroke-width="5"/>
            <path d="M870.151 3.82V41.62C870.151 45.4 871.081 48.31 872.941 50.35C874.801 52.39 877.531 53.41 881.131 53.41C884.731 53.41 887.491 52.39 889.411 50.35C891.331 48.31 892.291 45.4 892.291 41.62V3.82H907.681V41.53C907.681 47.17 906.481 51.94 904.081 55.84C901.681 59.74 898.441 62.68 894.361 64.66C890.341 66.64 885.841 67.63 880.861 67.63C875.881 67.63 871.411 66.67 867.451 64.75C863.551 62.77 860.461 59.83 858.181 55.93C855.901 51.97 854.761 47.17 854.761 41.53V3.82H870.151Z" stroke="white" stroke-width="5"/>
            <path d="M975.008 67H959.618L933.878 28.03V67H918.488V3.82H933.878L959.618 42.97V3.82H975.008V67Z" stroke="white" stroke-width="5"/>
          </svg> 
          <h5 class="department">UC Davis Department of Electrical and Computer Engineering</h5>
        </div>
        <a href="#about"><i class="glyphicon glyphicon-triangle-bottom"></i></a>
      </div>
</section>





<section id="about">
  <div data-aos="fade-up">
    <div id="about" class="paddsection">
      
        <div class="container">
          <div class="row justify-content-between">
    
            <div class="col-lg-4 ">
              <div class="div-img-bg">
                <div class="about-img">
                  <img src="../../assets/images/profile.png" class="img-responsive" alt="me">
                </div>
              </div>
              <img src="../../assets/contact.png" style="height: 100px"/>

              
              
            </div>
            
    
            <div class="col-lg-7">
              <div class="about-descr">
    
                <p class="p-heading"><b>Houman Homayoun</b> is a Professor in the Department of Electrical and Computer Engineering at the University of California, Davis. He leads the National Science Foundation Center for Hardware and Embedded Systems Security and Trust. Under his direction, <b>CHEST</b> tackles some of the most pressing security challenges facing the world today, helping to ensure the safety and reliability of hardware and embedded systems.</p>

                <h1 class="heading">History</h1>
                

                <p class="separator">Prior to his current position, Houman Homayoun held an Associate Professorship in the Department of Electrical and Computer Engineering at George Mason University. He was also a recipient of the Computing Innovation (CI) Fellowship from the CRA-CCC, during which he spent two years at the University of California, San Diego. Dr. Homayoun completed his Ph.D. in Computer Science at the University of California, Irvine, where he was awarded the prestigious four-year Computer Science Department Chair Fellowship. His educational background also includes an MS in computer engineering from the University of Victoria and a BS in electrical engineering from the Sharif University of Technology. 
                
                  <button id="expandButton" (click)="expand()">Continue Reading</button><span id="dots" style="color: #b8a07e">...</span>
                  <span id="more">
                    Houman Homayoun is an accomplished computer engineer and currently holds the position of Professor in the Department of Electrical and Computer Engineering at the University of California, Davis. He also serves as the director of the National Science Foundation Center for Hardware and Embedded Systems Security and Trust (CHEST). Prior to his appointment at UC Davis, Houman was an Associate Professor at George Mason University (GMU). He was also recognized as an NSF Computing Innovation (CI) Fellow awarded by the CRA-CCC and spent two years at the University of California, San Diego from 2010 to 2012.

                    Houman holds a Ph.D. in Computer Science from the University of California, Irvine, which he earned in 2010. During his time at UCI, he received a four-year fellowship from the Computer Science Department. He also received an MS degree in computer engineering from the University of Victoria in 2005 and a BS degree in electrical engineering from the Sharif University of Technology in 2003.
                    
                    Houman's research focuses on hardware security and trust, applied machine learning and AI, data-intensive computing, and heterogeneous computing. He has published more than 200 technical papers in prestigious conferences and journals on these subjects and has directed over $10M in research funding from NSF, DARPA, AFRL, NIST, US Congress, and various industrial sponsors. His work has received numerous best paper awards and nominations, including GLSVLSI 2016, ICCAD 2019, ICDM 2019, DCAS 2020, ISVLSI 2020, ICCAD 2020, and DATE 2022.
                    
                    Houman's CHEST center has received congressional support for research in hardware security, which was included in the 2021 National Defense Authorization Act. He has also served as a Member of the Advisory Committee, Cybersecurity Research and Technology Commercialization working group in the Commonwealth of Virginia, and as a core group member of the hardware security body of knowledge development team supported by the Department of Defense. In addition, he was recognized as the recipient of the 2010 National Science Foundation computing innovation fellow award by CCC/CRA and has been serving as an Associate Editor of IEEE Transactions on VLSI since 2017. Houman has also chaired and co-chaired major conferences in ACM, including the Great Lake Symposium on VLSI. <button id="expandButton" (click)="expand()">Read Less...</button>
                </span>
              </p>
              
              </div>
              <br>
              <h1 class="heading">Alumni</h1>
              <div class="container">
                <div class="row">
                  <ng-container *ngFor="let peoples of alumni;">
                    <div class="col-lg-1 col-md-2 col-sm-2 col-3 padding-grid">
                      <div class="popover__wrapper">
                        <img class="popover__title" [src]="peoples.img_name" alt="Avatar" class="avatar" > 
                        <div class="popover__content">
                          <p style="color: black;">Name: {{peoples.name}} <br> <span *ngIf="peoples.job">  Job: {{peoples.job}} </span></p>
                        <a><i class="fa fa-linkedin-square" style="font-size: 55px; margin-left: 40%; color: #b8a07e;"></i></a>
                        </div>
                        <p class="people"><b>{{peoples.name}} </b> <br> <span *ngIf="peoples.job"> {{peoples.job}} </span></p>
                      </div>
                    </div>
                    

                  </ng-container>
    
                </div>
                  
              </div>

            </div>
            
          </div>

        </div>

      </div>
    </div>
</section>

<section id="funding">

  <div class="container">
    <div class="search-container">
      <h1 class="title" style="font-weight: bold;">Sponsored Research Total ${{this.totalFunds}}</h1>
      
      <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="searchFunds">
      <button class="search-button">Search</button>
    </div>
    <div class="publications">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Funding</th>
            <th>Grant</th>
            <th>Date</th>
            <th>About </th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funds of fundsData | search: searchFunds;">
            <td><img [src]='funds.img_name' style="width: 50px; height: 50px;"></td>
            <td>${{funds.amount}}</td>
            <td>{{funds.source}}</td>
            <td>{{funds.timespan}}</td>
            <td>{{funds.purpose}}</td>
            <td>{{funds.role}}</td>
          </tr>
    
        </tbody>
      </table>
    </div>
  </div>


</section>

<br><br>

<div class="line2"></div>

<br><br>

<section id="researchCarousel">

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"  data-interval="2000">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      
    </ol>

    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="d-block w-100"> <img src="https://img.icons8.com/external-smashingstocks-mixed-smashing-stocks/256/external-machine-learning-smart-devices-smashingstocks-mixed-smashing-stocks.png" class="AM"> <h1>Applied Machine Learning</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"> <img src="https://img.icons8.com/dotty/480/null/cyber-security.png" class="AM"/><h1>Hardware Security and Trust</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/ios-filled/200/machine-learning.png" class="AM"/><h1>Adversarial Machine Learning</h1></div>
      </div>
      
      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/glyph-neue/200/null/security-shield-green.png" class="AM"/><h1>Cybersecurity</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/ios-filled/200/null/big-data.png" class="AM"/><h1>Big Data Computing</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/200/null/external-algorithm-data-science-and-cyber-security-flatart-icons-outline-flatarticons.png" class="AM"/><h1>Algorithms for Energy-Efficient Acceleration of Big Data</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/external-flaticons-lineal-flat-icons/200/null/external-processors-computer-programming-flaticons-lineal-flat-icons-2.png" class="AM"/><h1>Heterogeneous Computing</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/ios/200/null/wearable-technology.png" class="AM"/><h1>Accelerating Wearable Biomedical Computing</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/windows/200/null/product-architecture.png" class="AM"/><h1>Heterogeneous Architecture Mapping and Scheduling</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/ios/200/null/chip-card-blocked.png" class="AM"/><h1>Emerging STT Logic for Enhancing Hardware Security and Trust</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/external-smashingstocks-detailed-outline-smashing-stocks/200/null/external-3d-design-ui-ux-user-interface-smashingstocks-detailed-outline-smashing-stocks.png" class="AM"/><h1>3D Integration and Design</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/ios/200/null/android-l-battery--v1.png" class="AM"/><h1>Low Power and Thermal Aware Design</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/ios/200/null/memory-slot.png" class="AM"/><h1>DRAM Memory Management for Emerging Big Data Applications</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/external-outline-black-m-oki-orlando/200/null/external-memory-allocation-programming-outline-outline-black-m-oki-orlando.png" class="AM"/><h1>Emerging Memory Technologies (non-volatile STTRAM, PCM, and volatile HMC</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/ios/200/null/dashboard.png" class="AM"/><h1>Performance Characterization of Emerging Applications</h1></div>
      </div>

      <div class="carousel-item">
        <div class="d-block w-100"><img src="https://img.icons8.com/material-outlined/200/null/energy-efficiency-g.png" class="AM"/><h1>Energy Efficiency and Power Management in Enterprise Datacenter</h1></div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div>

  <script>
    AOS.init();
  </script>

</section>

<footer>
  <p style="text-align: center; font-size: 10px;">  <a (click)="routeLogin()">Are you an admin? Log In Here</a></p>
</footer>
