@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}
#header {
    background: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url("../../assets/images/home.jpeg") repeat scroll center center / cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  
  .header-content {
    height: 100vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .header-content h1 {
    font-size: 40px;
    font-weight: 780;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
  }
  
  .header-content p {
    font-size: 13px;
    letter-spacing: 5px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
  }
  
  .header-content .list-social li {
    float: left;
    margin-right: 20px;
  }
  
  .header-content .list-social li i {
    color: #fff;
    font-size: 15px;
  }


#logo{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  animation: fill 0.5s ease forwards 3s; 
  width: 978px; 
  height: 71px;  
}

#logo path:nth-child(1){
  stroke-dasharray: 337.32000732421875px;
  stroke-dashoffset: 337.32000732421875px;
  animation: line-anim 2s ease forwards; 
}


#logo path:nth-child(2){
  stroke-dasharray: 316.58935546875px;
  stroke-dashoffset: 316.58935546875px;
  animation: line-anim 2s ease forwards 0.1s;
}
#logo path:nth-child(3){
  stroke-dasharray: 302.68817138671875px;
  stroke-dashoffset: 302.68817138671875px;
  animation: line-anim 2s ease forwards 0.2s;
}
#logo path:nth-child(4){
  stroke-dasharray: 457.0200500488281px;
  stroke-dashoffset: 457.0200500488281px;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(5){
  stroke-dasharray: 296.12249755859375px;
  stroke-dashoffset: 296.12249755859375px;
  animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(6){
  stroke-dasharray: 359.59716796875px;
  stroke-dashoffset: 359.59716796875px;
  animation: line-anim 2s ease forwards 0.5s;
}
#logo path:nth-child(7){
  stroke-dasharray: 337.32000732421875px;
  stroke-dashoffset: 337.32000732421875px;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(8){
  stroke-dasharray: 316.59033203125px;
  stroke-dashoffset: 316.59033203125px;
  animation: line-anim 2s ease forwards 0.7s;
}
#logo path:nth-child(9){
  stroke-dasharray: 457.02008056640625px;
  stroke-dashoffset: 457.02008056640625px;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo path:nth-child(10){
  stroke-dasharray: 296.12249755859375px;
  stroke-dashoffset: 296.12249755859375px;
  animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(11){
  stroke-dasharray: 245.39852905273438px;
  stroke-dashoffset: 245.39852905273438px;
  animation: line-anim 2s ease forwards 1s;
}
#logo path:nth-child(12){
  stroke-dasharray: 316.5907897949219px;
  stroke-dashoffset: 316.5907897949219px;
  animation: line-anim 2s ease forwards 1.1s;
}
#logo path:nth-child(13){
  stroke-dasharray: 302.6885070800781px;
  stroke-dashoffset: 302.6885070800781px;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(14){
  stroke-dasharray:  359.59716796875px;
  stroke-dashoffset:  359.59716796875px;
  animation: line-anim 2s ease forwards 1.3s;
}

@keyframes line-anim {
    to{
      stroke-dashoffset: 25;
    }
  
}
@keyframes fill {
  from{
    fill: transparent;
  }
  to{
    fill:white; 
  }
}

.department{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20Px;
  font-weight: 800;
  position: absolute;
  left: 50%;
  top: 60%; 
  transform: translate(-50%, -60%);
  animation: fadeIn 4.5s;
  text-align: center;
}

.eceLogo{
  padding: 25px;
  height: 12%;
  animation: fadeIn 4.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.glyphicon-triangle-bottom{
  color: white;
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 95%; 
  transform: translate(-50%, -95%);
  animation: fadeIn 4.5s;
}

#about {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  padding-top: 70px;
  padding-bottom: 70px;
  
}

#about .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
  border-radius: 50px;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 25 25 85px 25 rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  object-fit: cover;
  border-radius: 50px;
}

#about .about-descr .p-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: left;
  color: black;
  text-align: center;
}

#about .about-descr .separator {
  margin-bottom: 0;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 15px;
}

.heading{
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}
#expandButton{
  background: none!important;
  border: none;
  padding: 0!important;
  color: #b8a07e; 
}
#expandButton:hover{
  color: #b8a07eab;
}

#more {
  display: none;
}

#funding{
  height: auto;
}

.title{
  font-size: 30px;
}
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid #b8a07e;
  margin-right: 10px;
  margin-left: 10px;
}
.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b8a07e;
  color: #FFF;
  border: none;
  cursor: pointer;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.publications {
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #b8a07e;
}
a{
  color: black;
}
th {
  background-color: #f2f2f2;
}
.line{
  height: 2px;
  width: 40%;
  margin: 0 auto; 
  background-color: #b8a07e;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#researchCarousel{
    height: 60vh !important;

}

.w-100{
    height: 50vh;
    color: #b8a07e;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    overflow: hidden;
}



.AM{
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(66%) sepia(21%) saturate(447%) hue-rotate(356deg) brightness(94%) contrast(89%);
} 
.carousel-indicators{
    filter: invert(66%) sepia(21%) saturate(447%) hue-rotate(356deg) brightness(94%) contrast(89%);
    z-index: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    filter: invert(66%) sepia(21%) saturate(447%) hue-rotate(356deg) brightness(94%) contrast(89%);

}

nav {
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li {
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  display: block;
  font-size: 15px;
  color: #999999;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 16px 10px;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  color: black;
  font-size: 16px;
}


.logo {
  float: left;
  padding-left: 20%;
}

.logo img {
  width: 30%;
  height: 30%;
}
.logo img:hover{
  height: 50%;
}

.responsive {
  display: none;
  font-size: 23px;
}

.active {
  color: #afafaf;
}

.main-nav {
  display: block !important;
  position: relative;
}

#container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-expand-lg{
  animation: fadeIn 0.75s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
}


body{
  background-color: #25274d;
}

#contact{
  padding: 4%;
  height: auto;
  font-family: 'Poppins', sans-serif;
}
.title{
  padding-bottom: 1%;
}
.col-md-3{
  background: #b8a07e;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.contact-info h2{
  margin-bottom: 10%;
}

.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.contact-form label{
  font-weight:600;
}

.contact-form button{
  background:#b8a07ee0;
  color: #fff;
  font-weight: 600;
  width: 25%;
  margin-top: 10px;
}

.contact-form button:focus{
  box-shadow:none;
}


h3,h4{
  color: white;
}

.form-group{
  padding: 2%;
  
}

.line{
  margin-top: 10px; 
  height: 3px;
  width: 55%;
  background-color: white;
  float: left;
  border-radius: 20%;
}
.line2{
  height: 2px;
  width: 40%;
  margin: 0 auto; 
  background-color: #b8a07e;
}

@media only screen 
  and (device-width: 320px) {
    .logo {
      float: none;
    }
    
    .nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    
    }
    nav ul li {
      margin: 0;
      width: 25%;
      text-align: center;
      margin: 0 auto;
    }
    nav ul li a{
      font-size: 10px;
     
    }
  
    .carousel-inner h1{
      font-size: 20px;
    }
    .AM{
      height: 25%;
    }
    #logo{
      width: 80%;
    }
    .department{
      font-size: 15px;
    }
    #about .div-img-bg {
      margin-bottom: 30px;
    }
    .p-heading{
      margin-bottom: 30px;
    }
    
  }
