@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0; 
  margin: 0; 
  font-family: 'Poppins', sans-serif;
}


nav {
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li {
  font-family: 'Poppins', sans-serif;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  display: block;
  font-size: 15px;
  color: #999999;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding: 16px 10px;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  color: black;
}


.logo {
  float: left;
  padding-left: 20%;
}

.logo img {
  width: 30%;
  height: 30%;
}

  .responsive {
    display: none;
    font-size: 23px;
  }
  
  .active {
    color: #afafaf;
  }
  
  .main-nav {
    display: block !important;
    position: relative;
  }
  
  
  .navbar-expand-lg{
    animation: fadeIn 0.75s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
  }



  #publications{
    height: auto !important;
  }
  
#logo{
  position: relative;
  top: -20%; 
  left: 50%;
  transform: translate(-50%, 20%); 
  margin-bottom: 10px;
  animation: fill 0.5s ease forwards 2.5s; 
  z-index: 100;
}

#logo path:nth-child(1){
    stroke-dasharray:  294.2875061035156px;
    stroke-dashoffset: 294.2875061035156px;
    animation: line-anim 2s ease forwards; 
  }
  
  #logo path:nth-child(2){
    stroke-dasharray: 299.8020935058594px;
    stroke-dashoffset: 299.8020935058594px;
    animation: line-anim 2s ease forwards 0.08333s;
  }
  #logo path:nth-child(3){
    stroke-dasharray: 349.8691711425781px;
    stroke-dashoffset: 349.8691711425781px;
    animation: line-anim 2s ease forwards 0.16666666666s;
  }
  #logo path:nth-child(4){
    stroke-dasharray: 182.19998168945312px;
    stroke-dashoffset: 182.19998168945312px;
    animation: line-anim 2s ease forwards 0.3333s;
  }
  #logo path:nth-child(5){
    stroke-dasharray: 313.46636962890625px;
    stroke-dashoffset: 313.46636962890625px;
    animation: line-anim 2s ease forwards 0.4166666s;
  }
  #logo path:nth-child(6){
    stroke-dasharray: 333.52908325195312px;
    stroke-dashoffset: 333.52908325195312px;
    animation: line-anim 2s ease forwards 0.5s;
  }
  
  #logo path:nth-child(7){
    stroke-dasharray:   260.28506469726562px;
    stroke-dashoffset:  260.28506469726562px;
    animation: line-anim 2s ease forwards 0.5833333s; 
  }
  
  #logo path:nth-child(8){
    stroke-dasharray: 442.1668395996094px;
    stroke-dashoffset: 442.1668395996094px;
    animation: line-anim 2s ease forwards 0.6666666s;
  }
  #logo path:nth-child(9){
    stroke-dasharray: 313.4666748046875px;
    stroke-dashoffset: 313.4666748046875px;
    animation: line-anim 2s ease forwards 0.75s;
  }
  #logo path:nth-child(10){
    stroke-dasharray: 264.819091796875px;
    stroke-dashoffset: 264.819091796875px;
    animation: line-anim 2s ease forwards 0.8333333s;
  }
  #logo path:nth-child(11){
    stroke-dasharray: 299.34197998046875px;
    stroke-dashoffset: 299.34197998046875px;
    animation: line-anim 2s ease forwards 0.91666s;
  }
  #logo path:nth-child(12){
    stroke-dasharray: 289.90960693359375px;
    stroke-dashoffset: 289.90960693359375px;
    animation: line-anim 2s ease forwards 1s;
  }
  


@keyframes line-anim {
    to{
      stroke-dashoffset: 0px;
    }
  
}
@keyframes fill {
  from{
    fill: transparent;
  }
  to{
    fill:black; 
  }
}
.title{
  font-size: 30px;
}
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid #b8a07e;
  margin-right: 10px;
  margin-left: 10px;
}
.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #b8a07e;
  color: #FFF;
  border: none;
  cursor: pointer;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.publications {
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #b8a07e;
}
a{
  color: black;
}
th {
  background-color: #f2f2f2;
}
.line{
  height: 2px;
  width: 40%;
  margin: 0 auto; 
  background-color: #b8a07e;
}

@media only screen 
  and  (min-width: 320px) and (max-width: 420px){
    .logo {
      float: none;
    }
    .nav-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    
    }
    nav ul li {
      margin: 0;
      width: 25%;
      text-align: center;
      margin: 0 auto;
    }
    nav ul li a{
      font-size: 15px;
    }
    
  #logo{
    width: 70%;
   }
   .search-input{
    width: 80%;
    margin-top: 5%; 
    margin-bottom: 5%; 
    border-radius: 5%;
    border: 5px solid #b8a07e;
   }
   .search-button{
    margin-left: 4%;
   }

   .search-container{
    display: block;
   }

}


@media only screen 
and  (min-width: 421px) and (max-width: 520px){

  .logo {
    float: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120%;
  }
  nav ul li {
    margin: 0;
    width: 25%;
    text-align: center;
    margin: 0 auto;
  }
  nav ul li a{
    font-size: 15px;
  }
  #logo{
    width: 70%;
   }
   .search-input{
    width: 80%;
    margin-top: 5%; 
    margin-bottom: 5%; 
    border-radius: 5%;
    border: 5px solid #b8a07e;
   }
   .search-button{
    margin-left: 4%;
   }

   .search-container{
    display: block;
   }    
  
}


@media only screen 
and  (min-width: 521px) and (max-width: 620px){

  .logo {
    float: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120%; 
  }
  nav ul li {
    margin: 0;
    width: 20%;
    text-align: center;
    margin: 0 auto;
  }
  nav ul li a{
    font-size: 15px;
  }
  #logo{
    width: 70%;
   }
  
}

 
@media only screen 
and  (min-width: 621px) and (max-width: 820px){
  .logo {
    float: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120%;
  }
  nav ul li {
    margin: 0;
    width: 25%;
    text-align: center;
    margin: 0 auto;
  }
  nav ul li a{
    font-size: 20px;
  }
  #logo{
    width: 70%;
   }
}


    
@media only screen 
and  (min-width: 821px) and (max-width: 920px){

  .logo {
    float: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 125%;
  
  }
  nav ul li {
    margin: 0;
    width: 10%;
    text-align: center;
    margin: 0 auto;
  }
  nav ul li a{
    font-size: 20px;
    margin: 0 auto;
  }
  #logo{
    width: 70%;
   }  
}

 
@media only screen 
and  (min-width: 921px) and (max-width: 1320px){
  .logo {
    float: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 125%;
  
  }
  nav ul li {
    margin: 0;
    width: 10%;
    text-align: center;
    margin: 0 auto;
  }
  nav ul li a{
    font-size: 20px;
    margin: 0 auto;
  }
  #logo{
    width: 70%;
   }  
}

@media only screen 
and  (min-width: 1321px) and (max-width: 1520px){
  .logo {
    float: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 125%;
  
  }
  nav ul li {
    margin: 0;
    width: 10%;
    text-align: center;
    margin: 0 auto;
  }
  nav ul li a{
    font-size: 20px;
    margin: 0 auto;
  }
  #logo{
    width: 70%;
   }  
}